<%= bootstrap_form_for(@bookmark) do |f| %>
  
  <!-- Error messages -->
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
        <% @bookmark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Title -->
  <%= f.text_field :title, autofocus: true %>
  <%= f.text_field :url %>
  <%= f.select :tag_ids, @tags.map {|c| [c.title, c.id]}, { label: 'Tags' }, multiple: true %>
  
  <!-- Buttons -->
  <div class="actions">
    <%= link_to 'Cancel', :back, class: 'button-back' %>
    <%= f.submit %>
  </div>  
<% end %>
