<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Email Adresse:</h6>
    </div>
    <div class="panel-body">
      <%= @user_profile.user.email %>
    </div>
    <div class="panel-heading">
      <h4>Backgound image:</h4>
    </div>
    <div class="panel-body">
      <%= @user_profile.backgound_image %>
    </div>
  </div>


  <%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
  <%= link_to 'Back', user_profiles_path %>
