<%= form_for(@tag) do |f| %>

  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <div>
      <%= f.text_field :title %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :color %>
    <div>
      <%= f.select :color, tag_colors %>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'Cancel', bookmarks_path, class: 'button-back' %>
    <%= f.submit %>
  </div>
<% end %>
