<!DOCTYPE html>
<html>
<head>
  <title>BookmarkManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <style>
    body {
      <% if !user_signed_in? %> 
      background-image: none;
      <% else %>
      background-image: url("/images/default.png");
      <% end -%>
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }
  </style>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Bookmark Manager</a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %> 
          <li><%= link_to 'Profil', user_profile_path(current_user.user_profile) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Delete', user_registration_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <p id="notice"><%= notice %></p>

  <main class="container">
    <%= yield %>
  </main>
</body>
</html>
